*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Start*/
#navbar{
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 600;
    color:black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
  color: #ffa500;
}
.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin: 20px;
}
.nav-item  .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: #f9f9f9;
}
#navbar form button{
    background: orange;
    color: white;
    border: none;

}
/* Navbar END*/
/* Home Section Start */
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(.images/background\image1.jpg)
}
.home .content{
    text-align: center;
    padding-top: 200px;

}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent{
    content: '';
    color:black;
    text-shadow: ;
}
  
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
 

/* Home Section End */
